# Created by virtualenvs.in-project setting in poetry.toml
/.venv/

# Virtual Envrioments
venv

# Ignore editor files
.*.swp
.vs/
*.sln
*.pyproj
*.pyproj.user

# Artifacts
__pycache__
unidata-blocks.txt

# Logging
*.log

# SQLite databases
*.db

# Misc
*.bak
*~
*#

# Vscode
.vscode/
